alias -- -='cd -'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias c='clear'
alias cp='cp -urv'
alias del='apt autopurge'
alias ec='n -B ~/.bashrc; . ~/.bashrc'
alias f='find'
alias g='grep --color=auto'
alias h='history'
alias hs='h|g'
alias ins='apt install'
alias l='ls'
alias la='l -A'
alias ll='ls --time-style="+%m/%d|%H:%M" -lGghL --si'
alias lla='ll -A'
alias md='mkdir -pv'
alias mv='mv -v'
alias n='nano'
alias o='xdg-open'
alias pst='pstree -TalhpCage'
alias rh='history -c; history -w'
alias rm='rm -rv'
alias sf='am start -n com.google.android.documentsui/com.android.documentsui.files.FilesActivity &>/dev/null'
alias upd='upp && yes|apt dist-upgrade'
alias upp='apt update'
